body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    margin: auto;
    font-size: 24px;
}

h2 {
    font-size: 20px;
    text-align: center;
}

.tetris-board {
    box-sizing: border-box;
    border-left: 1px solid black;
}

.tetris-row {
    display: flex;
}

.tetris-col {
    display: flex;
}

.tetris-col-p {
    height: 27px;
    width: 27px;
    box-sizing: border-box;
    border-top: 1px solid black;
    border-right: 1px solid black;
}

.tetris-row:last-of-type > .tetris-col {
    border-bottom: 1px solid black;
}

.board-score {
    display: flex;
    justify-content: space-around;
}

.next-list {
    height: 250px;
    width: 200px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
}

.score-next {
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    height: 500px;
    width: 200px;
}

.saved-div {
    margin: auto;
    padding-top: 30%;
    box-sizing: border-box;
}

.score-div {
    margin: auto;
    width: 200px;
    height: 100px;
    padding-top: 20%;
    box-sizing: border-box;
    border-bottom: 1px solid black;
}